#map {
  width: 100%;
  height: 600px; }

.tab-button {
  padding: 6px 10px;
  cursor: pointer;
  background: #f0f0f0;
  outline: none; }

.tab-button:hover {
  background: #e0e0e0; }

.tab-button.active {
  background: #e0e0e0; }

.tab-button.disable {
  background: red; }

.tab {
  border: 1px solid #ccc;
  padding: 10px; }
