<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link href="css/main.css" rel="stylesheet">
</head>
<body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

  <section class="contacts">
    <header class="contacts__header">Contacts</header>
    <div class="contacts__wrap">
      <div class="contacts__block">
        <h3 class="contacts__block-header">GMS Headquarters</h3>
        <div class="contacts__info-wrap">
          <div class="contacts__info-block">
            <div class="contacts__info-text">Global Message Services Ukraine LLC</div>
            <div class="contacts__info-text">Bundesstrasse 5 / 3rd Floor</div>
            <div class="contacts__info-text">6300 Zug</div>
            <div class="contacts__info-text">Switzerland</div>
            <div class="contacts__info-tel">+41 41 544 62 00</div>
          </div>
          <div class="contacts__info-block">
            <div class="contacts__info-text">Email</div>
            <a class="contacts__info-link" href="mailto:INFO@GMS-WORLDWIDE.COM">INFO@GMS-WORLDWIDE.COM</a>
            <div class="contacts__info-text">Send message</div>
            <a class="contacts__info-link" href="viber://chat?number=41415446200">VIBER US</a>
            <div class="contacts__info-text">Send form</div>
            <a class="contacts__info-link" href="">CONTACT US</a>
          </div>
        </div>
      </div>

      <div class="contacts__block">
        <h3 class="contacts__block-header">GMS Headquarters</h3>
        <div class="contacts__info-wrap">
          <div class="contacts__info-text">
            GMS understand that it can be hard to follow all new technologies.
            We regularly provide for all our clients educational training to
            make your operator’s business earn more and better though our best practices.
          </div>
          <div class="contacts__info-tel">+41 41 544 62 00</div>
        </div>
      </div>
    </div>
  </section>

  <div id="app">
    <button
      v-for="(company, index) in companyData"
      v-bind:key="index"
      v-bind:class="['tab-button', { active: currentTab === index }]"
      v-on:click="buttonClick(index)"
    >{{ company.city }}</button>

    <company-info
      v-bind:index="currentTab"
    ></company-info>

    <div id="map"></div>

    <form @submit.prevent="submitForm">
      <div>
        <label for="name">Name:</label><br>
        <input id="name" type="text" v-model="name" required/>
      </div>
      <div>
        <label for="phone">HOW DO I TURN OFF CAPS LOCK:</label><br>
        <textarea id="phone" v-model="phone" required></textarea>
      </div>
      <div>
        <label for="email">Email:</label><br>
        <input id="email" type="email" v-model="email" required/>
      </div>
      <button v-bind:class="['tab-button', { disable: buttonDisable }]" type="submit">Submit</button>
    </form>
  </div>


  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBFjxgMUsP328F4_bpqf8ybToV-wCYl7k0&callback=initMap"
    async defer></script>
  <script src="js/main.js"></script>
</body>
</html>
